@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager
@{
    var name = "";
    if (_signInManager.IsSignedIn(User))
    {
        name = @User.Claims.Any(m => m.Type == System.Security.Claims.ClaimTypes.GivenName) ? @User.Claims.FirstOrDefault(m => m.Type == System.Security.Claims.ClaimTypes.GivenName)?.Value : @User.Identity?.Name;
    }
}

<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="document.getElementById('form-logout').submit();">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<form id="form-logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Default", new { area = "" })">
</form>